[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
# Install project as editable
tentaclio-snowflake = {editable = true,path = "."}
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
black = "*"
flake8 = "*"
isort = "*"
mypy = "*"
twine = "*"

[packages]
tentaclio = ">=1.0.0"
snowflake-sqlalchemy = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
